.elem {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(207, 238, 6);

  &_complered {
    border: 1px solid rgb(7, 186, 7);
  }
}

.delete {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.complete {
  width: 22px;
  height: 22px;
}